.header {
  background-color: rgb(255, 49, 50);
  max-width: 1000px;
  margin: 0 auto;
}

.top-bar {
  height: 40px;
}
.animate-dropdown {
}

.main-header {
}
.container-hed {
  margin: 0 auto;
  max-width: 800px;
}

.site-title {
  max-height: 60px;
  color: white;
  text-align: center;
}
