.container {
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgb(206, 206, 206);
}

.main-title {
  max-width: 400px;
  text-align: center;
  /* background-color: violet; */
  margin: 0 auto 3rem;
  color: rgb(0, 162, 255);
}

li {
  margin-left: 20px;
  color: rgb(255, 255, 255);
}
.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.main-img {
  max-height: 200px;
  display: flex;
  justify-content: space-around;
}
